body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0; /* Cambia el color de fondo según tus preferencias */
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

.centered-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.class-item {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.class-item:hover {
    transform: scale(1.02);
}

.class-info, .class-actions {
    padding: 20px;
}

.class-info p {
    margin: 10px 0;
}

.class-actions button {
    background-color: #2ecc71;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.class-actions button:hover {
    background-color: #27ae60;
}

h2 {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

/* Agrega animaciones según tus necesidades */
