/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin-top: 5%;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../assets/img/fonsomusical.jpg");
}

.container {
    text-align: center;
    padding: 20px;
}

/* Estilos para la tabla */
table {
    border-collapse: collapse;
    width: 98%;
    margin: 1%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(15, 156, 175, 0.918);
}

th, td {
    border: 2px solid rgb(24, 26, 148);
    padding: 10px;
    box-shadow: 0 4px 8px rgba(15, 156, 175, 0.918);
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

/* Estilos para los botones */
button {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(140, 29, 245, 0.918);
}

button:hover {
    background-color: #df4c08;
}

/* Estilos para los encabezados de tabla */
th {
    font-weight: bold;
}

/* Ajuste de colores y márgenes */
h2 {
    margin-left: 2%;
    font-size: 24px;
    margin-top: 2%;
    color: white;
}

/* Ajuste de espaciado */
td:last-child {
    padding-right: 20px;
}
